<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/home.css">
       
</head>
<body>
    <div id="head" class="container-fluid">
        <h1 id="head-text">Parque de Diversões</h1>
    </div>
    <h2 id="welcome">Bem-Vindo ao<br>Parque de Diversões</h2>
    <div class="container" id="main-container">
        <form action="/choose_toy" method="POST" id="form">
            <div class="row" id="first-row">
                <div class="col-md-4 mb-4">
                    <a href="/register_toy_a" class="text-decoration-none">
                        <div class="box">
                            <img src="/static/img/brinquedo_a.jpg" alt="Brinquedo A" class="img-fluid toy-image" id="A">
                            <h3 class="text-left">Brinquedo A</h3>
                            <p class="text-left">Clique aqui para se cadastrar na fila</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4">
                    <a href="/register_toy_b" class="text-decoration-none">
                        <div class="box">
                            <img src="/static/img/brinquedo_b.jpg" alt="Brinquedo B" class="img-fluid toy-image" id="B">
                            <h3 class="text-left">Brinquedo B</h3>
                            <p class="text-left">Clique aqui para se cadastrar na fila</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-4 mb-4">       
                    <a href="/register_toy_c" class="text-decoration-none">
                        <div class="box">
                            <img src="/static/img/brinquedo_c.jpg" alt="Brinquedo C" class="img-fluid toy-image" id="C">
                            <h3 class="text-left">Brinquedo C</h3>
                            <p class="text-left">Clique aqui para se cadastrar na fila</p>
                        </div>
                    </a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>